@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(25, 24, 24);
    color: white;
}

.left {
    width: 30vw;

    padding: 10px;
}

.right {
    width: 70vw;
}

.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 20px;
    list-style-type: none;
    padding-top: 14px;
    font-weight: dark;
}

.heading {
    font-size: 15px;
    width: 100%;
    font-weight: 600;
    padding: 10px;
    padding-top: 20px;
    align-items: center;
    display: flex;
}

.footer {
    display: flex;
    color: grey;
    font-size: 12px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;

}

.right {
    margin: 16px 0;
}

.library {
    min-height: 80vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 37, 37);

}

.header>* {
    padding: 20px;

}

.spotify-playlists {
    padding: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 30px;
    overflow-y: scroll;
    max-height: 70vh;
}

.card {
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    background-color: #252525;
    position: relative;

}

.card>* {
    padding-top: 10px;


}

.card img {
    width: 100%;
    object-fit: contain;

}

.play {
    background-color: #1fdf64;
    padding: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 15px;
    opacity: 0;
    transition: 1 ease-out;
}

.play svg {
    color: black;
    width: 32px;
    height: 32px;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(14, 13, 13);
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    width: 70px;
    cursor: pointer;
}

.signupbtn:hover {
    font-weight: bold;
    color: white;
    width:71px;
}

.loginbtn {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 21px;
    font-size: 15px;
    width: 80px;
    font-size: 15px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    width: 81px;
    font-size: 16px;
}

.right{
    position: relative;
}
.playbar{
    position: absolute ;
    bottom: 0;
    background-color: rgb(21, 75, 21);
    width: 100%;
    padding: 12px;
    display: flex;
}